<body style="background-color:white;">
  <div class="container">
    <div class="row">


      <section class="w-100 mt-5">
        <div class="text-center mt-3 mb-3">

          <div class="text-center" style="margin-left:20%; margin-right:20%;font-weight: bold;">
            <h1 style="font-size: 55px;font-weight:bold; color: #2941AB"> The all-in-one toolkit for creating stories that work </h1>
          </div>

          <br>

          <div class="text-center" style="margin-left:25%; margin-right:25%;">
            <p style="font-size: 18px"> All great stories have great plots. But there is a method to the madness. Our web app helps writers plan, visualise and create compelling stories. </p>
          </div>

          <br>

          <form action="/add_user" method="post">
            <input type="email" placeholder="Your email address" class="form-box" name="[email_address]">
            &nbsp;
            <input type="submit" value="Join waitlist" class="home-button-1">
          </form>


          <div class="mt-2">
            <p style="font-size:smaller;"> Only £9.99/month. Get notified on launch. </p>
          </div>


        </div>
      </section>



      <section class="w-100 mt-5" style="margin-left:2%; margin-right:2%;">

        <div class="d-flex">

          <div class="d-flex flex-column text-center full-width" style="padding: 5%;width:40%; border-radius:20px;border: solid 1px black;height: 450px;">
            <div style="height: 60%">
              <%= image_tag 'book.png', class: "mx-auto", style:"width:150px" %>
            </div>

            <div style="height: 40%">
              <br>
              <br>
              <h4 class="mt-2" style="font-weight:bold;"> Create stories that work </h4>
              <p class="mt-2"> Our story cards and frameworks ensure that your story is built on a strong foundation.  </p>
            </div>

          </div>

          <div class="no-show" style="overflow: hidden;width:2%"></div>

          <div class="d-flex flex-column text-center full-width" style="padding: 5%;width:60%; border-radius:20px; border: solid 1px black;height: 450px">
            <div class="d-flex justify-content-center align-items-center" style="height: 60%">
              <%= image_tag 'glass2.png', class: "mx-auto", style:"width:210px" %>
            </div>

            <div style="height: 40%">
              <br>
              <br>
              <h4 class="mt-2" style="font-weight:bold;"> Visualise how your plot unfolds </h4>
              <p class="mt-2"> Lost after the middle chapter? Not sure if the tension is evenly spread out? Forgot about that secondary plot line? Fret no more - we provide a means of visualising your plot. </p>
            </div>
          </div>

        </div>

        <br>

        <div class="d-flex">

          <div class="d-flex flex-column text-center" style="padding: 5%;width:60%; border-radius:20px; border: solid 1px black; height: 450px;">
            <div class="d-flex justify-content-center align-items-center" style="height: 60%">
              <%= image_tag 'star.png', class: "mx-auto", style:"width:200px" %>
            </div>

            <div style="height: 40%">
              <br>
              <br>
              <h4 class="mt-2" style="font-weight:bold;"> Build immersive worlds </h4>
              <p class="mt-2"> Our platform is a one-stop-shop for the elements that go into building an imaginary world, from tools to creating character bios to storing images that spark your imagination. </p>
            </div>

          </div>

          <div class="no-show" style="overflow: hidden;width:2%"></div>

          <div class="d-flex flex-column text-center" style="padding: 5%;width:40%; border-radius:20px; border: solid 1px black;height: 450px">
            <div class="d-flex justify-content-center align-items-center" style="height: 60%">
              <%= image_tag 'clock.png', class: "mx-auto", style:"width:160px" %>
            </div>

            <div style="height: 40%">
             <br>
             <br>
             <h4 class="mt-2" style="font-weight:bold;"> Access anytime, anywhere </h4>
             <p class="mt-2"> No more post-it notes on walls. Or photos of post-it notes on walls. Log in and work whenever/wherever inspiration strikes.  </p>
            </div>

          </div>

        </div>

        <br>

      </section>



      <section class="w-100 mt-5 mb-2">
        <div class="text-center mt-3">

          <div class="text-center" style="margin-left:20%; margin-right:20%;font-weight: bold;">
            <h1 style="font-weight:bold;color: #2941AB"> Get early access <br> and updates </h1>
          </div>

          <br>

          <form action="/add_user" method="post">
            <input type="email" placeholder="Your email address" class="form-box" name="[email_address]">
            &nbsp;
            <input type="submit" value="Join waitlist" class="home-button-1">
          </form>

          <div class="mt-1 mb-5">
            <small > Only £9.99/month. Get notified on launch. </small>
          </div>

        </div>
      </section>



    </div>
  </div>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-items-baseline mb-2">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag '', style: 'width:60%' %>
    <% end %>


    <%= mail_to "enquiries@mojolearninglabs.com" do %>
      <%= image_tag '', style: 'width:50%' %>
    <% end %>

  </div>

</body>







